.header__navigation {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 298px;
}

@media (max-width: 1200px) {
  .header__navigation {
    margin-right: 30px;
  }
}
@media (max-width: 805px) {
  .header__navigation {
    width: 100px;
    flex-direction: column;
    height: 50px;
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 430px) {
  .header__navigation {
    margin-top: 0;
  }
}
