.content__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1.21em;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}

@media (max-width: 525px) {
  .content__title {
    font-size: 38px;
  }
}
